<div class="welcome">
  <div class="container">
    <div class="nav">
      <h1>CitizenConnect360</h1>
      <div class="links" id="nav-links">
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
      </div>
      <div class="menu-icon">
        <ion-icon name="menu-outline" id="menu-icon"></ion-icon>
      </div>
    </div>
    <div class="main">
      <div class="img">
        <img
          src="https://cdn.pixabay.com/photo/2013/05/20/05/34/human-112227_640.jpg"
          alt="limelight"
        />
      </div>
      <div class="des">
        <h1>
          THIS IS OUR <br />
          COMMUNITY!! <br />
          speak up!!!!
        </h1>
        <p>#Educating our Citizens</p>
      </div>
    </div>
  </div>
</div>
