.dashboard{
    padding: 0%;
    margin: 0%;
    height: 100vh;
    width: 100vw;
    
}
.main{
    height: 95%;
    padding: 10px;
    margin: 20px;
    border: 1px solid #C7E4FF;
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color: #f0f0f0;
}
.nav{
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    background-color: #1D25DC;
    color: white;
    justify-content: space-between;
}
.nav ion-icon{
    margin-right: 20px;
    width: 30px;
    height: 30px;
}
.nav h1{
    font-weight: bolder;
    font-size: 36px;
    margin-left: 10px;
}
.container1{
    display: flex;
    /* border:1px solid black; */
    height: 85%;
    width: 100%;
}
.menu{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:30px;
    /* justify-content: space-around; */
    background-color: white;
    /* border: 1px solid red; */
    padding: 10px;
    margin: 20px;
}
.menu-icon {
  display: none;
  cursor: pointer;
}
.content{
    width: 80%;
    /* border:1px solid green; */
    margin: 10px;

}.content h1{
    font-size: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content1{
    width: 100%;
    border: 1px solid black;
    height: 95%;
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    /* border:10px; */
    padding: 10px;
    background-color: white;
}
/* .inci{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px ;
} */
.icons{
    display: flex;
    gap:20px;
    align-items: center;
}
.icons a{
    /* font-size: 25px; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.icons a:hover{
    color: blue;
}
.icons ion-icon{
    width: 30px;
    height: 30px;
}

.content1 ul{
      list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
  width: 100%;
  /* border: 1px solid magenta; */
  flex-wrap: wrap;
  padding: 10px;
}

.incident-item {
  margin-bottom: 20px;
  width: 100%;
  /* border:1px solid blue; */
  width: 30%;
  height: 200px; 
}

.inci {
  position: relative;
  border: 1px solid red;
  padding: 20px;
  color: white;
  background-size: cover;
  background-position: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  height: 200px; 
}

.inci h1, .inci p, .inci h6 {
  margin: 0;
}

.inci h1 {
  font-size: 24px;
}

.inci p {
  margin-top: 10px;
  font-size: 16px;
}

.inci h6 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
}
@media (max-width: 768px) {
    .dashboard{
        display: flex;
        align-items: center;
    }
  .menu {
    /* display: none; */
    display: none;
    
  }

  .menu.show {
    display: flex;
    width: 40%;
     position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 70%;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: black;
    
  }

  .menu-icon {
    display: block;
  }
  .content1 ul{
    display: block;
    width: 100%;
  }
  .incident-item{
    width: 90%;
  }
}